h1
{
    color:midnightblue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
p{
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
td,th{
border: 5px solid black;
width: 250px;
height: 20px;


}

table{
    border-collapse: collapse;
    margin: auto;
   
}
td#fds{
    color: darkgreen;
}
td#stqqs{

    background-color: rgba(184, 135, 11, 0.514);
}
th{
    background-color: rgba(153, 205, 50, 0.541);
    
}
header{
    background-image: linear-gradient(to  left ,rgba(127, 255, 212, 0.466),rgb(169, 243, 221));
    border: 7px solid black;
    width: 800px;
    margin: auto;
    border: radius 10px;
    padding: 15px;
    margin-bottom: 5px;

}
header >h1{
    color:midnightblue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 5px solid black;
    padding: 5px;
    text-align: center;
    border-radius: 15px;
}
nav{
    text-align: center;
}
nav>a{
    margin-right: 15px;
    border: 5px solid black;
    padding: 5px;
    border-radius: 15px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section{
    background-color:rgba(127, 255, 212, 0.466);
    border: 5px solid black;

}
main{
    width: 800px;
    margin: auto;
    border: radius 10px;
    padding: 15px;
    margin-bottom: 5px;
}
body{
    background-image:url(imagem/Motor-Graders-John-Deere-772GP-16685462.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}